@charset "UTF-8";

div {
    display: inline-block;
    background-color: gray;
    align-items: center;
    border: 1px solid black;
    vertical-align: sub;
    height: 1000px;
    width: 200px;
}

div#a:hover {
    background-color: rgb(0, 255, 85);
}

div#b:hover {
    background-color: rgb(255, 230, 5);
}

div#c:hover {
    background-color: rgb(255, 0, 0);
}